/* css 좀 더 공부하고 추가예정 */
:root{
    --text-color: #f0f4f5;
    --background-color: rgb(114, 23, 183);
    --accent-color: rgba(65, 13, 124, 0.348);
}
body{
    margin: 2.5rem;
    font-family: 'Black Han Sans', sans-serif;
}
a{
    text-decoration: none;
    color: var(--text-color);
}

/* navigation */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(65, 13, 124, 0.348);
    padding: 8px 12px;
    border-radius: 0px 0px 8px 8px;
}
.navbar-logo{
    font-size: 25px;
    color: var(--text-color);
    font-family: 'Bagel Fat One', sans-serif;
}

.navbar-logo i{
    color: var(--background-color)
}

.navbar-menu{
    display: flex;
    list-style: none;
    padding-left: 0;
    font-family: 'Bagel Fat One', sans-serif;
}

.navbar-menu li{
    padding: 8px 12px;
}

.navbar-menu li:hover{
    background-color: rgba(236, 214, 241, 0.548);
    border-radius: 6px;
}

.navbar-icons{
    list-style: none;
    display: flex;
    color: var(--text-color);
    padding-left: 0;
}

.navbar-icons li{
    padding: 8px 12px;
}

.navbar-toggleBtn{
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: rgba(65, 13, 124, 0.78);
}

/* 반응형 navbar */

@media screen and (max-width: 768px) {
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 12px;
    }
    .navbar-menu{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navbar-menu li{
        width: 100%;
        text-align: center;
    }
    .navbar-icons{
        display: none;
        justify-content: center;
        width: 100%;
    }
    .navbar-toggleBtn{
        display: block;
    }

    .navbar-menu.active,
    .navbar-icons.active{
        display: flex;
    }
}

/* Header */
.section-one{
    padding-top: 10rem;
    padding-bottom: 6rem;
    text-align: center;
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/img/ddd.jpg)

}

.section-one-h2{
    font-size: 80px;
    font-family: 'Bagel Fat One', sans-serif;  
    color: var(--background-color)
}

@media(min-width:768px) {
    .section-one{
        padding-top: 15rem;
        padding-bottom: 11.5rem;
    }
}

/* main */
.main-section{
    text-align: center;
    padding: 6rem 0;
}

.main-section h2
{font-family: 'Sriracha';
    font-size: 2.5rem;
}
.main-section h3{
    font-family: 'Sriracha';
}

/* menual box */
.menual-info{
    text-align: left;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.menual-info li{
    font-family: 'Noto Sans Korean';
    display: inline;
}

.menual-section{
    border-color: #363b43;    border-style: solid;
    border-radius: 8px;
    padding: 8px;
}

.menual-section.p{
    padding: 8px;
}

/* recommend box*/
.recommend-img{ 
    display: flex;
    flex-direction: row;
}

.recommend-img-card{
    border-style: solid;
    border-color: #363b43;
    border-radius: 9px;
    flex: 1;
    margin: 10px;
    height: 200px;
}

/* 테이블 출력 */
.table {
border-collapse: collapse;
width: 100%;
}
.th,
td {
padding: 8px;
text-align: left;
border-bottom: 1px solid #d0598d;
display: flex;
}
/* 로딩중 */
.mask{
position: absolute;
z-index: 9000;
background-color: #000;
display: none;
left: 0;
top: 0;
}

/* 답변테이블컨테이너 */
.answerTableContainer.tbody{
    border-style: solid;
    border-color: #363b43;
    text-align: center;
}

/* form */
.form-info{
    align-items: center;
    text-align: center;
}